[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.13"

[packages]

[dev-packages]
flake8 = "*"
mypy = "*"
pre-commit = "*"
ruff = "*"
yamllint = "*"

[scripts]
test = "python -m unittest discover -s test -p *.py -v"
pre-commit-format = "ruff format --check"
format = "ruff format"
pre-commit-fix = "ruff check --extend-select I"
fix = "ruff check --extend-select I --fix"
stylecheck = "flake8 . --max-line-length 99 --extend-ignore E203"
typecheck = "mypy . --install-types --non-interactive --ignore-missing-imports --check-untyped-defs"
yamllint = "yamllint ."